
.gridItem {
    height: 300px;
    width: 250px;

    display: flex;
    flex-direction: column;

    margin-right: 25px;
    margin-bottom: 20px;
}

.productImg {
    height: 75%;
    width: auto;

    border-radius: 5px;
}

.buttonFirstAdd {
    transform: translate(50%, -50%);
    width: 50%;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;

    border: solid black 1px;
    border-radius: 25px;

    background-color: white;
    background-image: url('../assets/icon-add-to-cart.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;

    font-weight: 400;

    cursor: pointer;
}


.countButton {
    transform: translate(50%, -50%);
    width: 50%;

    color: white;
    text-align: center;

    padding-top: 10px;
    padding-bottom: 10px;

    border: solid black 1px;
    border-radius: 25px;

    background-color: hsl(14, 86%, 42%);
}

.buttonRemove, .buttonAdd {
    width: 22px;
    height: 22px;

    color: white;
    text-align: center;
    vertical-align: middle;

    border: solid white 1px;
    border-radius: 100%;

    background-color: hsl(14, 86%, 42%);
}

.buttonRemove{
    transform: translate(-340%, -90%);
}

.buttonAdd {
    padding: 0px;

    transform: translate(135%, -90%);
}

.buttonRemove:hover, .buttonAdd:hover {
    background-color: white;
    color: hsl(14, 86%, 42%);
    cursor: pointer;
}

.text{
    margin: 0px;
    margin-top: 4px;
}

#desertType{
    font-size: 0.8rem;
    color: hsl(7, 20%, 60%);
    margin-top: 0px;
}

#desertFlavor{
    font-weight: 600;
}

#price{
    font-size: 0.9rem;
    color: hsl(14, 86%, 42%);
}

.hidden {
    display: none;
}