

.cartCard{
    height: 250px;
    width: 350px;

    margin-top: 30px;

    background-color: white;
}

.title {
    margin: 20px;
    color: hsl(14, 86%, 42%);
}

.emptyImg {
    margin-left: 100px;
}

.text {
    margin-left: 19%;
    margin-right: 22%;
    font-size: 0.8rem;

    color: hsl(12, 20%, 44%);
}

.list {
        font-size: 0.8rem;
}

.hidden {
    display: none;
}