

.cartCard{
    height: 250px;
    width: 350px;

    margin-top: 30px;

    background-color: white;
}

.title {
    margin: 20px;
    color: hsl(14, 86%, 42%);
}

.emptyImg {
    margin-left: 100px;
}

.text {
    margin-left: 19%;
    margin-right: 22%;
    font-size: 0.8rem;

    color: hsl(12, 20%, 44%);
}

.list {
    font-size: 0.8rem;
}

.listItem {
    list-style: none;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 0.5px solid hsl(14, 25%, 72%);
}

.sameLine {
    display: flex;
}

.type, .amount, .price, .totalPrice{
    margin: 0px;
}

.type {
    margin-bottom: 5px;
}

.amount{
    color: hsl(14, 86%, 42%);
    font-weight: bold;
    padding-right: 15px;
}

.price {
    color: hsl(7, 20%, 60%);
    padding-right: 10px
}

.totalPrice {
    color: hsl(12, 20%, 44%);
}

.buttonRemove {
    height: 22px;
    width: 30;

    margin-left: auto;

    color: black;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;

    border: solid black 1px;
    border-radius: 100%;

    background-color: hsl(0, 0%, 100%);
}

.hidden {
    display: none;
}