@font-face {
    font-family: 'Red Hat Text';
    src: url('./assets/fonts/RedHatText-VariableFont_wght.ttf');
}

.App {
    display: flex;

    font-family: "Red Hat Text", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}